In [1]:
import pandas as pd
import numpy as np
pd.set_option("display.max_columns", None)

In [3]:
anime_1 = pd.read_csv("D:\\Ds\\projects\\anime-recommendation\\artifacts\\anime.csv")
anime_2 = pd.read_csv("D:\\Ds\\projects\\anime-recommendation\\artifacts\\animes.csv")
rating = pd.read_csv('D:\\Ds\\projects\\anime-recommendation\\artifacts\\rating.csv')

In [4]:
anime_1.shape

(12294, 7)

In [5]:
anime_2.head()

,uid,title,synopsis,genre,aired,episodes,members,popularity,ranked,score,img_url,link
0,28891,Haikyuu!! Second Season,Following their participation at the Inter-Hig...,"['Comedy', 'Sports', 'Drama', 'School', 'Shoun...","Oct 4, 2015 to Mar 27, 2016",25.0,489888,141,25.0,8.82,https://cdn.myanimelist.net/images/anime/9/766...,https://myanimelist.net/anime/28891/Haikyuu_Se...
1,23273,Shigatsu wa Kimi no Uso,Music accompanies the path of the human metron...,"['Drama', 'Music', 'Romance', 'School', 'Shoun...","Oct 10, 2014 to Mar 20, 2015",22.0,995473,28,24.0,8.83,https://cdn.myanimelist.net/images/anime/3/671...,https://myanimelist.net/anime/23273/Shigatsu_w...
2,34599,Made in Abyss,The Abyss—a gaping chasm stretching down into ...,"['Sci-Fi', 'Adventure', 'Mystery', 'Drama', 'F...","Jul 7, 2017 to Sep 29, 2017",13.0,581663,98,23.0,8.83,https://cdn.myanimelist.net/images/anime/6/867...,https://myanimelist.net/anime/34599/Made_in_Abyss
3,5114,Fullmetal Alchemist: Brotherhood,"""In order for something to be obtained, someth...","['Action', 'Military', 'Adventure', 'Comedy', ...","Apr 5, 2009 to Jul 4, 2010",64.0,1615084,4,1.0,9.23,https://cdn.myanimelist.net/images/anime/1223/...,https://myanimelist.net/anime/5114/Fullmetal_A...
4,31758,Kizumonogatari III: Reiketsu-hen,After helping revive the legendary vampire Kis...,"['Action', 'Mystery', 'Supernatural', 'Vampire']","Jan 6, 2017",1.0,214621,502,22.0,8.83,https://cdn.myanimelist.net/images/anime/3/815...,https://myanimelist.net/anime/31758/Kizumonoga...

In [6]:
anime_2.shape

(19311, 12)

In [7]:
anime_2.duplicated().sum()

2943

In [8]:
anime_2 = anime_2.drop_duplicates()

In [9]:
anime_2["uid"].value_counts().sort_values(ascending=False)[anime_2["uid"].value_counts().sort_values(ascending=False) > 1]

uid
39535    2
40129    2
40357    2
40356    2
37522    2
        ..
24641    2
36720    2
40738    2
40269    2
40708    2
Name: count, Length: 152, dtype: int64

In [10]:
anime_2 = anime_2[~anime_2["uid"].duplicated()]

In [11]:
anime_2["uid"].nunique()

16216

In [12]:
anime_2 = anime_2.rename(columns= {"uid":"anime_id"})

In [13]:
merged  =anime_2.merge(anime_1, on ="anime_id", how="inner")

In [14]:
merged.shape

(12179, 18)

In [15]:
merged_v2 = merged[['anime_id','title','synopsis','genre_x','aired','episodes_x','score','img_url','type']]

In [16]:
rating.shape

(7813737, 3)

In [17]:
merged_v3 = merged_v2[["anime_id", "title", "type"]].merge(rating, on ="anime_id", how="inner")

In [18]:
merged_v3.shape

(7783944, 5)

In [19]:
merged_v3.isna().sum()

anime_id    0
title       0
type        4
user_id     0
rating      0
dtype: int64

In [20]:
# merged_v3.nunique()

- total 11097 amines in the dataset
- total 73514 unique users

In [21]:
merged_v3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7783944 entries, 0 to 7783943
Data columns (total 5 columns):
 #   Column    Dtype
---  ------    -----
 0   anime_id  int64
 1   title     object
 2   type      object
 3   user_id   int64
 4   rating    int64
dtypes: int64(3), object(2)
memory usage: 296.9+ MB

In [22]:
merged_v3["rating"] = merged_v3["rating"].astype('int8')
merged_v3["anime_id"] = merged_v3["anime_id"].astype('uint16')
merged_v3["user_id"] = merged_v3["user_id"].astype('uint32')

merged_v3["type"] = merged_v3["type"].astype('category')

In [23]:
merged_v3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7783944 entries, 0 to 7783943
Data columns (total 5 columns):
 #   Column    Dtype
---  ------    -----
 0   anime_id  uint16
 1   title     object
 2   type      category
 3   user_id   uint32
 4   rating    int8
dtypes: category(1), int8(1), object(1), uint16(1), uint32(1)
memory usage: 118.8+ MB

- -1 in the rating column represents that the user has watch the anime bit hasnt rated

In [24]:
merged_v3["user_id"].value_counts()

user_id
48766    10140
42635     3721
53698     2883
57620     2685
59643     2615
         ...
72300        1
72980        1
73232        1
69945        1
29483        1
Name: count, Length: 73514, dtype: int64

In [25]:
7783944//20

389197

In [26]:
merged_v3['has_rated'] = np.where(merged_v3['rating'] == -1, 0, 1)

In [27]:
merged_v2.columns

Index(['anime_id', 'title', 'synopsis', 'genre_x', 'aired', 'episodes_x',
       'score', 'img_url', 'type'],
      dtype='object')

In [28]:
merged_v3.head(15)

    anime_id                    title type  user_id  rating  has_rated
0      28891  Haikyuu!! Second Season   TV        3       9          1
1      28891  Haikyuu!! Second Season   TV        5       9          1
2      28891  Haikyuu!! Second Season   TV       17       9          1
3      28891  Haikyuu!! Second Season   TV       38      10          1
4      28891  Haikyuu!! Second Season   TV       39      -1          0
5      28891  Haikyuu!! Second Season   TV       46      10          1
6      28891  Haikyuu!! Second Season   TV       54      -1          0
7      28891  Haikyuu!! Second Season   TV       62      10          1
8      28891  Haikyuu!! Second Season   TV       81       9          1
9      28891  Haikyuu!! Second Season   TV      123       9          1
10     28891  Haikyuu!! Second Season   TV      145      -1          0
11     28891  Haikyuu!! Second Season   TV      163       8          1
12     28891  Haikyuu!! Second Season   TV      183       9          1
13     28891  Haikyuu!! Second Season   TV      198      -1          0
14     28891  Haikyuu!! Second Season   TV      204       8          1

In [29]:
merged_v3['rating'] = np.where(merged_v3['rating'] == -1, 0, merged_v3['rating'])

In [30]:
merged_v3[merged_v3.rating == -1]

Empty DataFrame
Columns: [anime_id, title, type, user_id, rating, has_rated]
Index: []

Weighted Score = (v / (v + m)) * S + (m / (v + m)) * C
- S = Average score for the anime/manga
- v = Number users giving a score for the anime/manga †
- m = Minimum number of scored users required to get a calculated score
- C = The mean score across the entire Anime/Manga database

In [30]:
most_watched = merged_v3.groupby(["anime_id",'title']).size().sort_values(ascending=False).reset_index().\
rename(columns={0:"no_of_user_watched"}).sort_values(by="no_of_user_watched", ascending=False)
mean_ratig_each_anime = merged_v3[merged_v3["rating"] != 0].groupby(["anime_id", 'title']).agg({"rating": "mean","has_rated": "count"}).reset_index()
mean_ratig_each_anime = mean_ratig_each_anime.rename(columns={'rating':"S", "has_rated":"v"})
C = mean_ratig_each_anime['S'].mean()
weighted_mean = ((mean_ratig_each_anime['v'] * mean_ratig_each_anime['S']) + (50 * C)) / (mean_ratig_each_anime['v'] + 50)
mean_ratig_each_anime['v'] * mean_ratig_each_anime['S']
weighted_rating = pd.concat([mean_ratig_each_anime,weighted_mean], axis=1).rename(columns={0:"weighted_rating"})
all_time_top_25 = weighted_rating.sort_values(by="weighted_rating", ascending=False).head(25).drop(["S", 'v'], axis = 1)
all_most_watched_25 = most_watched.head(25)

In [31]:
most_watched

,anime_id,title,no_of_user_watched
0,1535,Death Note,39340
1,11757,Sword Art Online,30583
2,16498,Shingeki no Kyojin,29584
3,1575,Code Geass: Hangyaku no Lelouch,27718
4,226,Elfen Lied,27506
...,...,...,...
10205,33266,Nanocore,1
10204,18759,Captain Movie,1
10203,33272,Nanocore 2016 Xinnian Tebie Ban,1
10202,17835,Seito Shokun! Kokoro ni Midori no Neckerchief wo,1
11096,34519,Mobile Suit Gakuen: G-Reco Koushien,1

In [32]:
merged_v2 = merged_v2.merge(most_watched[["anime_id", "no_of_user_watched"]],on ="anime_id", how="left" ).\
merge(weighted_rating[['anime_id', "weighted_rating"]],on ="anime_id", how="left")

# Content Based

In [33]:
import ast

In [34]:
content = merged_v2[["anime_id",'title'	,'synopsis'	,'genre_x'	 ,'aired'	,'episodes_x','type']]

In [35]:
content.isna().sum()

anime_id        0
title           0
synopsis      322
genre_x         0
aired           0
episodes_x     62
type           24
dtype: int64

In [36]:
content["synopsis"] = content["synopsis"].fillna('no description available')
content['type'] = content['type'].fillna(" no details available")

C:\Users\shrey\AppData\Local\Temp\ipykernel_14344\850030090.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  content["synopsis"] = content["synopsis"].fillna('no description available')
C:\Users\shrey\AppData\Local\Temp\ipykernel_14344\850030090.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  content['type'] = content['type'].fillna(" no details available")

In [37]:
content['genre_x'][0]

"['Comedy', 'Sports', 'Drama', 'School', 'Shounen']"

In [38]:
content['genre_x'] = content['genre_x'].apply(lambda x: ast.literal_eval(x) if pd.notnull(x) else [])

C:\Users\shrey\AppData\Local\Temp\ipykernel_14344\233961510.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  content['genre_x'] = content['genre_x'].apply(lambda x: ast.literal_eval(x) if pd.notnull(x) else [])

In [39]:
content['genre_x'][0]

['Comedy', 'Sports', 'Drama', 'School', 'Shounen']

In [40]:
content['title'] = content['title'].apply(lambda x: [x])
content['synopsis'] = content['synopsis'].apply(lambda x: [x])

C:\Users\shrey\AppData\Local\Temp\ipykernel_14344\3199652274.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  content['title'] = content['title'].apply(lambda x: [x])
C:\Users\shrey\AppData\Local\Temp\ipykernel_14344\3199652274.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  content['synopsis'] = content['synopsis'].apply(lambda x: [x])

In [41]:
content['type'] = content['type'].apply(lambda x: [x])

C:\Users\shrey\AppData\Local\Temp\ipykernel_14344\3779661745.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  content['type'] = content['type'].apply(lambda x: [x])

In [42]:
content["tags"] = content["synopsis"] + content["genre_x"] + content["title"] + content["type"]

C:\Users\shrey\AppData\Local\Temp\ipykernel_14344\2881828322.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  content["tags"] = content["synopsis"] + content["genre_x"] + content["title"] + content["type"]

In [43]:
content.isna().sum()

anime_id       0
title          0
synopsis       0
genre_x        0
aired          0
episodes_x    62
type           0
tags           0
dtype: int64

In [44]:
content['tags'] = content['tags'].apply(lambda tags: " ".join(tags))

C:\Users\shrey\AppData\Local\Temp\ipykernel_14344\3467092650.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  content['tags'] = content['tags'].apply(lambda tags: " ".join(tags))

In [45]:
from nltk.tokenize import word_tokenize
from nltk.stem import PorterStemmer , WordNetLemmatizer

In [46]:
content["tags"]

0        Following their participation at the Inter-Hig...
1        Music accompanies the path of the human metron...
2        "In order for something to be obtained, someth...
3        After helping revive the legendary vampire Kis...
4        Stubborn, spoiled, and naïve, 10-year-old Chih...
                               ...
12174    Two years ago, Junichi Tachibana had a date on...
12175    All-new animation offered throughout UNIQLO cl...
12176    After regaining her squid-like abilities, Ika ...
12177    For years, the Niflheim Empire and the kingdom...
12178    Although Yuuta Togashi and Rikka Takanashi hav...
Name: tags, Length: 12179, dtype: object

In [47]:
import string
from nltk.corpus import stopwords

In [48]:
ps = PorterStemmer()
lemmatizer = WordNetLemmatizer()

In [49]:
stop_words = (set(stopwords.words("english")))

In [50]:
def process(text):
    text = text.lower()
    text = word_tokenize(text)
    
    y = []
    for i in text:
        if i.isalnum():
            y.append(i)
            
    text =y[:]
    y.clear()
    
    for i in text:
        if i not in stop_words and i not in string.punctuation:
            y.append(ps.stem(i))
            
    return " ".join(y)

In [51]:
content["tags"] = content["tags"].apply(process)

C:\Users\shrey\AppData\Local\Temp\ipykernel_14344\464806536.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  content["tags"] = content["tags"].apply(process)

In [52]:
from sklearn.feature_extraction.text import CountVectorizer , TfidfVectorizer

In [53]:
tf = TfidfVectorizer(max_features=5000)

In [54]:
vector = tf.fit_transform(content["tags"])

In [55]:
from sklearn.metrics.pairwise import cosine_similarity

In [56]:
similarity = cosine_similarity(vector)

In [57]:
def search_titles(title):
    
    title_index = merged_v2[merged_v2["title"] == title].index[0]
    similiarity_score = similarity[title_index]
    similar_title = sorted(list(enumerate(similiarity_score)), key = lambda x: x[1], reverse =True)[1:101]

    df = pd.DataFrame(columns=merged_v2.columns)
    for i in similar_title:
        df = pd.concat([df, merged_v2[merged_v2.index == i[0]]], axis=0)
        
    return df

In [58]:
returned_df = search_titles('Doraemon')

In [59]:
def top_anime(df):
    ova_df = pd.DataFrame(columns= merged_v2.columns)
    tv_df = pd.DataFrame(columns= merged_v2.columns)
    movie_df = pd.DataFrame(columns= merged_v2.columns)
    special_df = pd.DataFrame(columns= merged_v2.columns)
    ona_df = pd.DataFrame(columns= merged_v2.columns)
    music_df = pd.DataFrame(columns= merged_v2.columns)
    
    for i in ['OVA', 'TV', 'Movie', 'Special', 'ONA', 'Music']:
        filtered_df = df[df["type"] == i].head(10)
        
        if i == "OVA":
            ova_df = pd.concat([ova_df, filtered_df], axis=0)
        if i == "TV":
            tv_df = pd.concat([tv_df, filtered_df], axis=0)
        if i == "Movie":
            movie_df = pd.concat([movie_df, filtered_df], axis=0)
        if i == "Special":
            special_df = pd.concat([special_df, filtered_df], axis=0)
        if i == "ONA":
            ona_df = pd.concat([ona_df, filtered_df], axis=0)
        if i == "Music":
            music_df = pd.concat([music_df, filtered_df], axis=0)
            
    return tv_df, ona_df , ova_df ,  movie_df , music_df , special_df

In [60]:
tv_df, ona_df , ova_df ,  movie_df , music_df , special_df = top_anime(returned_df)

In [72]:
merged_v2[merged_v2['type'] =="OVA"]["genre_x"][17]

"['Action', 'Adventure', 'Demons', 'Fantasy', 'Sci-Fi', 'Shounen', 'Super Power']"

In [62]:
# pickle.dump(similarity, open('similarity.pkl', "wb"))

NameError: name 'pickle' is not defined

In [63]:
import pickle 
pickle.dump(merged_v2, open("anime_df.pkl", "wb"))

In [66]:
special_df["type"]

11998    False
10000    False
10307    False
10196    False
4263     False
7940     False
10397    False
8108     False
7551     False
10166    False
Name: type, dtype: bool